.row-nzhc {
  display: flex;
  flex-direction: row;
  padding: 0 4px;
  justify-content: center;
  text-align: center;
}

@media (max-width: 800px) {
  .row-nzhc {
    flex-direction: column;
  }
}




.column-nzhc {
  flex: 25%;
  max-width: 25%;
  padding: 50px 40px;
  justify-content: center;
}

.column-nzhc img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column-nzhc {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column-nzhc {
    flex: 100%;
    max-width: 100%;
  }
}

.sidebar-nzhc {
  flex:50%;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
 position: absolute;
 margin-left: 50px;
  
}

/* Sidebar links */
.sidebar-nzhc h1 {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
/* Sidebar links */
.sidebar-nzhc p {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
/* Sidebar links */
.sidebar-nzhc ul {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}




/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
/* div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar-nzhc {
    flex: 100%;
    height: auto;
    position: relative;
   justify-content: center;
   width: 350px;
   margin: 20px
  }
  .sidebar-nzhc a {float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar-nzhc a {
    text-align: center;
    float: none;
  }
}

.main-text-area-nzhc {
  margin-left: 200px;
  padding: 0 350px;
  margin-bottom: 100px;
  
  
}

@media  screen and (max-width: 700px) {
  .main-text-area-nzhc{
    flex:100%;
    padding: 0 30px;
    margin-left: 0px;
    margin: 10px
  }
}

.container-nzhc{
  margin-left: 160px; 
}

