.row-vari {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-vari {
    flex: 25%;
    max-width: 25%;
    padding: 50px 40px;
  }
  
  .column-vari img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column-vari {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column-vari {
      flex: 100%;
      max-width: 100%;
    }
  }
/* The side navigation menu */
  .sidebar-vari {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
   position: absolute;
    
  }
  
  /* Sidebar links */
  .sidebar-vari h1 {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  /* Sidebar links */
  .sidebar-vari p {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  /* Sidebar links */
  .sidebar-vari ul {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  
 
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  /* div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  } */
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar-vari {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar-vari a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar-vari a {
      text-align: center;
      float: none;
    }
  }

  .main-text-area-vari {
    margin-left: 200px;
    padding: 0 350px;
    margin-bottom: 100px;
    
    
  }

  .container-vari {
    margin-left: 160px; /* Same as the width of the sidebar */
  }