

.hero-container {
  height: 600px;
  padding: 0px 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.hero-container img {
  height: 300px;
  margin-top: 15%;

}

.hero-text {
  width: 40%;
  margin-top: 50px;
}
.hero-text p {
  font-size: 1.3rem;
  margin-bottom: 12px;
}

.hero-text h1 {
  font-size: 3.3em;
  margin-bottom: 12px;
}

.hero-container button {
  font-weight: 500;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  background-color: #ffffff;
  /* transition: background-color 0.3s; */
  color: #ffffff;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  */
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  /* transition-duration: 0.3s; */
  width: 15rem;
  height: 2.5rem;
  color: black;
  text-transform: uppercase;
}


@media (max-width: 848px) {
  .hero-container {
    margin-top: 5%;
    flex-direction: column;
    margin-bottom: 40%;
  }

  .hero-text {
    width: 100%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10%;
    order: 1;
  }

  .hero-text h1 {
    font-size: 2rem;
    order: 2;
    margin-bottom: 5%;

  }

  .hero-text p{
    margin-bottom: 5%;
  }

  .home-banner-graphic {
    width: 50%;
    height: 50%;
    margin-top: 0px;
  }

  
}

@media (max-width: 768px) {
  .hero-container button {
    margin-bottom: 5%;
    margin-top: 30px;
  }
  .hero-container img {
    height: 400px;
    margin-top: 200px;
  }

  .hero-text {
    width: 100%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10%;
    order: 1;
  }
  .hero-container {
    margin-top: 5%;
    flex-direction: column;
    margin-bottom: 40%;
  }
}
