:root {
    --white: #fff;
    --primary: #333333;
    --heading1: 'Montserrat', sans-serif;
    --paragraph-font-family: 'Montserrat', sans-serif;
    --paragraph-font-weight: normal;
    --paragraph-font-size: 18px;

}